@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/*Прописал тут для удобства и скорости проверки, если нужно перенесу*/
/*Сначала всё что касается главной страницы*/

html {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.main-container {
    flex-grow: 1;
    margin: 0 auto;
}

.page-header {
    min-height: 65px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 500px;
    /*Сделано с запасом для еще одного элемента, как в скринкасте*/
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 46px;
}

.navigation-user {
    width: 290px;
    /*Сделано с запасом для еще одного элемента, как в скринкасте*/
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 122px;
}

.navigation-logo {
    margin: 0;
    padding: 0;
    margin-left: 70px;
    margin-bottom: -10px;
}

.welcome-text {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

.advantages-icons {
    color: rgb(131, 179, 211);
    background: center no-repeat;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    width: 72px;
    min-height: 75px;
}

.advantages-home {
    background-image: url("../images/home.svg");
}

.advantages-burger {
    background-image: url("../images/burger.svg");
}

.advantages-gift {
    background-image: url("../images/gift.svg");
}

.advantages-item-black-words-list {
    width: 400px;
    min-height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-advantage-container {
    width: 400px;
    min-height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-item-bridge {
    width: 400px;
    min-height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    min-height: 417px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
}

.search-button {
    width: 544px;
    min-height: 36px;
    margin: 0;
    margin-bottom: 92px;
    align-self: center;
    border-radius: 4px;
    padding: 12px 15px;
}

.page-footer {
    display: flex;
    margin: 0 auto;
    min-height: 120px;
    align-items: center;
    flex-wrap: wrap;
}

.footer-social-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 45px 0 35px 0;
    margin: 0;
    margin-left: 82px;
    width: 150px;
}

.footer-social-item {
    margin: 0;
    padding: 0;
    margin-right: 26px;
}

.about-text {
    margin: 0;
    margin-top: 12px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Далее дополнение для каталога*/

.breadcrumbs {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    align-items: center;
}

.options-catalog-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    min-height: 150px;
}

.catalog-filter-group {
    display: flex;
    flex-wrap: wrap;
}

.catalog-filter-group-items {
    width: 150px;
    min-height: 150px;
    margin: 0;
    margin-right: 71px;
    padding: 0;
    border: none;
}

.catalog-filter-criteria {
    display: flex;
    min-width: 366px;
    min-height: 150px;
    margin: 0;
    margin-right: 98px;
    margin-bottom: 48px;
}

.catalog-filter-group-title-cost {
    margin-right: 65px;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    min-width: 116px;
}

.buttons-in-options {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 61px;
    margin-left: -2px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    column-gap: 19px;
    margin: 0;
    margin-bottom: 66px;
    padding: 0;
    list-style-type: none;
    margin-left: 72px;
    margin-right: 72px;
}

.service-card {
    width: 340px;
    min-height: 400px;
    padding: 20px;
    padding-bottom: 10px;
}

.service-card-title {
    margin: 0;
    margin-top: 11px;
    font-weight: 700;
}

.service-card-wrapper {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: repeat(2, 140px);
    gap: 16px;
    margin-top: 16px;
}

.divider-line {
    border-bottom: 1px solid rgb(230, 230, 230);
    min-width: 1055px;
    margin-bottom: 30px;
    margin-left: 72px;
    margin-right: 72px;
}

.pagination {
    display: flex;
    list-style-type: none;
    margin: 0;
    flex-wrap: wrap;
    margin-left: 74px;
    padding: 0;
    margin-right: 270px;
}

.pagination-item {
    width: 60px;
    min-height: 60px;
    padding: 0;
    margin: 0;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.catalog-in-pagination {
    display: flex;
    min-width: 1056px;
    min-height: 60px;
    flex-wrap: wrap;
}

/*Ниже сначала стили для кнопок/ссылок*/

.button {
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(117, 97, 87);
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: rgb(97, 80, 72);
}

.button:focus {
    background-color: rgb(97, 80, 72);
}

.button:active {
    background-color: rgb(117, 97, 87);
    color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
    background-color: rgb(229, 229, 229);
}

.newsletter-button {
    background: rgb(130, 179, 211);
    border-radius: 0px 10px 10px 0px;
    width: 200px;
    min-height: 36px;
    padding: 12px 15px;
}

.newsletter-button:hover {
    background: rgb(104, 162, 202);
}

.newsletter-button:focus {
    background: rgb(104, 162, 202);
}

.newsletter-button:active {
    background: rgb(130, 179, 211);
    color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:disabled {
    background-color: rgb(229, 229, 229);
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: inherit;
    text-decoration: none;
    display: block;
}

.navigation-link-current::after {
    display: block;
    height: 2px;
    background-color: rgb(117, 98, 87);
    content: "";
    min-width: 60px;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.footer-button {
    font-family: inherit;
    text-decoration: none;
    width: 24px;
    min-height: 18px;
    background: center no-repeat;
    display: block;
}

.footer-button-image {
    fill: rgb(131, 179, 211);
}

.footer-button-image:hover {
    fill: rgb(104, 162, 202);
}

.footer-button-image:focus {
    fill: rgb(104, 162, 202);
    border: none;
}

.footer-button-image:active {
    fill: rgba(104, 162, 202, 0.3);
}

.field {
    font-family: inherit;
    min-width: 578px;
    min-height: 60px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 22px;
}

.field-catalog {
    background: rgb(242, 242, 242);
    padding-left: 22px;
}

.field:hover {
    background: rgb(230, 230, 230);
}

.field:focus {
    background: rgb(230, 230, 230);
    border: 3px solid rgb(131, 179, 211);
    min-width: 572px;
    min-height: 54px;
}

.field:active {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    min-width: 574px;
    min-height: 56px;
}

.footer-social-item:nth-child(3) {
    margin-left: -4px;
    margin-top: -1px;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.breadcrumbs-item {
    min-width: 12px;
    min-height: 12px;
    margin: 0;
    padding: 0;
    margin-right: 6px;
    margin-top: 3px;
}

.breadcrumbs-item-pointer {
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    transform: rotate(45deg);
    margin-top: 5px;
}

.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item-icon {
    fill: rgb(255, 255, 255);
    margin-left: 2px;
    margin-top: 1px;
}

.breadcrumbs-item-icon:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item-icon:active {
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-list {
    padding: 0;
    margin: 0;
    margin-top: 25px;
}

.range-scale {
    position: relative;
    height: 4px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    margin-top: 28px;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: rgb(255, 255, 255);
    width: 228px;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    top: -8px;
}

.range-toggle:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
    border: 3px solid rgb(131, 179, 211);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
    border: 2px solid #83B3D3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
    top: -8px;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

.range-wrapper-inputs {
    display: flex;
    justify-content: center;
    margin-top: 34px;
}

.catalog-filter-label {
    display: flex;
    border: 2px solid;
    border-color: rgb(255, 255, 255);
    width: 141px;
    min-height: 44px;
    align-items: center;
}

.catalog-filter-label-from {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.catalog-filter-label-to {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.catalog-filter-label:hover {
    border-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-label:focus {
    box-shadow: 0px 0px 0px 3px rgba(129, 179, 210, 1);
}

.catalog-filter-label:active {
    background-color: rgb(117, 98, 87);
}

.range-input {
    min-width: 120px;
    font: inherit;
    background-color: transparent;
    border: none;
    font-size: 18px;
    line-height: 19px;
    padding-left: 19px;
    padding-top: 10px;
    padding-bottom: 11px;
    color: rgb(255, 255, 255);
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.range-input-nine-thousand {
    padding-left: 15px;
}

.catalog-filter-label-text {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: inherit;
    opacity: 0.3;
    padding-left: 112px;
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 11px;
    font-size: 18px;
    line-height: 21px;
}

.catalog-filter-label-text-to {
    padding-left: 106px;
}

.button-apply {
    font-size: 16px;
    line-height: 20px;
    background: rgb(130, 179, 211);
    min-width: 159px;
    min-height: 20px;
    padding: 14px 15px;
    border-radius: 4px;
}

.button-apply:hover {
    background: rgb(104, 162, 202);
}

.button-apply:focus {
    background: rgb(104, 162, 202);
}

.button-apply:active {
    background: rgb(130, 179, 211);
    color: rgba(255, 255, 255, 0.3);
}

.button-apply:disabled {
    background: rgb(229, 229, 229);
}

.button-reset {
    font-size: 18px;
    line-height: 23px;
    background-color: unset;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 6px;
    min-width: 159px;
    min-height: 20px;
    padding: 14px 15px;
    border-radius: 4px;
    padding-left: 19px;
    background: none;
}

.button-reset:hover {
    opacity: 0.6;
    background: none;
}

.button-reset:focus {
    border: 3px solid rgb(131, 179, 211);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background: none;
}

.button-reset:active {
    opacity: 0.3;
    background: none;
    border: none;
}

.button-rank {
    background-color: rgb(255, 255, 255);
    background-size: 16px 14px;
    background: no-repeat center;
    width: 44px;
    min-height: 45px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    margin-right: 8px;
}

.options-housing-wrapper :nth-child(4n) {
    border-color: rgb(229, 229, 229);
}

.options-housing-wrapper :nth-child(5n) {
    border-color: rgb(229, 229, 229);
    margin-right: 0;
}

.button-rank:hover {
    border-color: rgb(0, 0, 0);
    background-color: inherit;
}

.button-rank:focus {
    border-color: rgb(104, 162, 202);
    background-color: inherit;
}

.button-rank:active {
    border-color: rgb(0, 0, 0);
    background-color: inherit;
}

.button-view-tables {
    background-image: url("../images/view-tables.png");
}

.button-view-cards {
    background-image: url("../images/view-cards.png");
}

.button-view-list {
    background-image: url("../images/view-list.png");
}

.service-card-button-information {
    font-size: 16px;
    line-height: 20px;
    width: 140px;
    min-height: 28px;
    border-radius: 4px;
    padding-top: 9px;
}

.service-card-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.service-card-button-favorites {
    font-size: 16px;
    line-height: 20px;
    background: rgb(130, 179, 211);
    width: 140px;
    min-height: 28px;
    border-radius: 4px;
    padding-top: 8px;
    margin-left: 4px;
}

.service-card-button-favorites:hover {
    background: rgb(104, 162, 202);
}

.service-card-button-favorites:focus {
    background: rgb(104, 162, 202);
}

.service-card-button-favorites:active {
    background: rgb(130, 179, 211);
    color: rgba(255, 255, 255, 0.3);
}

.service-card-button-favorites:disabled {
    background: rgb(229, 229, 229);
}

.service-card-stars {
    margin-top: 9px;
    display: grid;
    grid-template-columns: repeat(5, 24px);
}

.button-choice {
    background: rgb(125, 181, 79);
}

.button-choice:hover {
    background: rgb(108, 158, 66);
}

.button-choice:focus {
    background: rgb(108, 158, 66);
}

.button-choice:active {
    background: rgb(125, 181, 79);
    color: rgba(255, 255, 255, 0.3);
}

.button-choice:disabled {
    background: rgb(229, 229, 229);
}

.pagination-link {
    background: rgb(130, 179, 211);
    min-height: 36px;
    display: inline-table;
    border-radius: 4px;
    min-width: 23px;
    padding: 11px 18px;
}

.pagination-link:hover {
    background: rgb(104, 162, 202);
}

.pagination-link:focus {
    background: rgb(104, 162, 202);
}

.pagination-link:active {
    background: rgb(130, 179, 211);
    color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
    background: rgb(242, 242, 242);
}

.pagination-current:hover {
    background: rgb(242, 242, 242);
}

.pagination-current:focus {
    background: rgb(242, 242, 242);
}

.pagination-current:active {
    background: rgb(242, 242, 242);
}

.amount-hotels-text {
    padding: 0;
    margin: 0;
    margin-top: 19px;
    margin-right: 50px;
}



/*Теперь стили для index (главной)*/

.welcome {
    background-image: url("../images/welcome-image-background.jpg");
    background-repeat: no-repeat;
    text-align: center;
    min-height: 485px;
    background-color: rgb(146, 172, 185);
    background-size: cover;
}

.welcome-subtitle {
    text-align: center;
    align-items: center;
    min-height: 282px;
    display: flex;
    flex-direction: column;
}

.welcome-subtitle-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    width: 620px;
    min-height: 72px;
    padding: 0;
    margin: 0;
    padding-top: 63px;
    padding-bottom: 31px;
}

.welcome-subtitle-description {
    font-size: 22px;
    line-height: 26px;
    padding: 0;
    margin: 0;
    padding-bottom: 90px;
}

.advantages-list {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-top: 92px;
    width: 230px;
    min-height: 28px;
}

.advantages-title-two-words {
    min-height: 56px;
    width: 172px;
}

.advantages-item-white-words {
    min-height: 384px;
    display: flex;
    list-style-type: none;
    color: rgb(255, 255, 255);
    background-color: rgb(130, 179, 211);
    flex-wrap: wrap;
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
}

.city-advantage-container :nth-child(2n) {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.city-advantage-container :last-child {
    padding-bottom: 92px;
    width: 230px;
    min-height: 63px;
    margin: 0;
}

.advantages-item-black-words-list :last-child {
    width: 230px;
    min-height: 63px;
    margin: 0;
}

.advantages-item-black-words-list :nth-child(2n) {
    margin: 0;
    padding: 0;
    margin-top: 31px;
    margin-bottom: 30px;
}

.advantages-item-bridge :last-child {
    padding-bottom: 92px;
    width: 230px;
    min-height: 63px;
    margin: 0;
}

.advantages-item-bridge :nth-child(2n) {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.advantages-item-black-words {
    display: flex;
    padding: 0;
    margin: 0;
    min-height: 384px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
}

.advantages-background-light-blue {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-background-dark-blue {
    background-color: rgba(131, 179, 211, 0.2);
}

.search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-top: 89px;
}

.search-description {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    width: 590px;
    align-self: center;
    margin-top: 30px;
}

.search-description:nth-child(3) {
    margin: 0;
    padding: 0;
    margin-right: 16px;
    margin-bottom: 56px;
    margin-top: 0;
}


.subscribe-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    margin-top: 120px;
}

.subscribe-title-in-main {
    margin-top: 93px;
}

.subscribe-description {
    font-size: 22px;
    line-height: 26px;
    color: rgb(255, 255, 255);
    width: 475px;
    min-height: 52px;
    align-self: center;
    margin: 0;
    padding: 0;
    margin-top: 27px;
    margin-bottom: 47px;
    margin-left: 3px;
}

.subscribe {
    background-image: url("../images/subscribe-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-color: rgb(146, 172, 185);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
}

.newsletter-form {
    margin: 0;
    padding-bottom: 94px;
    min-height: 60px;
    display: flex;
    min-width: 600px;
    align-items: center;
    justify-content: center;
}

.field::placeholder {
    font-family: inherit;
    line-height: 21px;
    font-size: 18px;

}

.footer-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    min-width: 330px;
    min-height: 40px;
    margin: 0;
    margin-left: 218px;
    margin-right: 236px;
    margin-top: 6px;
}

.footer-phone:hover {
    color: rgb(117, 97, 87);
}

.footer-phone:focus {
    color: rgb(117, 97, 87);
}

.footer-phone:active {
    color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-logo {
    fill: rgb(0, 0, 0);
}

.htmlacademy-logo:hover {
    fill: rgb(117, 97, 87);
}

.htmlacademy-logo:focus {
    fill: rgb(117, 97, 87);
}

.htmlacademy-logo:active {
    fill: rgba(117, 97, 87, 0.3);
}

/*Теперь дополнение в стили catalog*/

.catalog-filter {
    background-image: url("../images/subscribe-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    background-color: rgb(146, 172, 185);
    min-height: 403px;
    padding: 0 70px 0 70px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding-top: 35px;
}

.catalog-filter-group-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

.control {
    font-size: 18px;
    line-height: 21px;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
}

.control-mark-circle {
    border-radius: 10px;
}

.control:hover .control-mark {
    background: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
    background: rgba(255, 255, 255, 0.6);
    border: 3px solid rgb(131, 179, 211);
}

.control:active .control-mark {
    background: rgba(255, 255, 255, 0.3);
}

.control:hover .control-mark-circle {
    background: rgba(255, 255, 255);
}

.control:focus .control-mark-circle {
    background: rgba(255, 255, 255);
    border: 3px solid rgb(131, 179, 211);
}

.control:active .control-mark-circle {
    background: rgba(255, 255, 255);
}

.control-input[type="checkbox"]:checked + .control-mark {
    background-image: url("../images/mark.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

.control-input[type="radio"]:checked + .control-mark-circle {
    background-image: url("../images/mark-circle.svg");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.catalog-filter-item:not(:last-child) {
    margin-bottom: 8px;
}

.catalog-filter-item {
    list-style-type: none;
}

.options-housing {
    margin: 0 auto;
    margin-top: 54px;
}

.options-housing-amount {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-right: 192px;
    margin-top: 9px;
}

.options-housing-wrapper {
    display: flex;
    margin-bottom: 56px;
    margin-left: 72px;
}

.select-control {
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    margin-right: 79px;
    min-width: 289px;
    height: 49px;
    border: 2px solid rgb(229, 229, 229, 1);
    border-radius: 4px;
    padding: 0 81px 0 18px;
    appearance: none;
}

.select-control:hover {
    border: 2px solid rgba(104, 162, 202, 1);
}

.select-control:focus {
    border: 2px solid rgba(104, 162, 202, 1);
}

.select-control:active {
    border: 2px solid rgba(63, 94, 114, 1);
}

.select-control-wrapper:disabled .select-control {
    border: 2px solid rgba(0, 0, 0, 0.3);
    opacity: 0.3;
}

.select-control-wrapper:disabled .pointer-in-select {
    background-image: url("../images/pointer-in-select-gray.svg");
}

.pointer-in-select {
    background-image: url("../images/pointer-in-select.svg");
    background-size: 12px 8px;
    background-repeat: no-repeat;
    width: 12px;
    height: 8px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 21px;
}

.pointer-amount-hotels {
    right: 20px;
    top: 26px;
}

.select-control-pagination {
    margin-right: 0;
    min-width: 160px;
    min-height: 50px;
    margin-top: 5px;
    padding-left: 18px;
    appearance: none;
}

.select-control-wrapper {
    position: relative;
    width: 290px;
    margin: 0;
    margin-right: 78px;
}

.options-hotels {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    padding: 0;
}

.options-hotels:nth-child(2) {
    margin-left: 4px;
    margin-top: -1px;
}

.service-card-rating {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    min-height: 36px;
    margin-left: 28px;
    margin-top: 10px;
}

.amount-hotels {
    font-size: 18px;
    line-height: 21px;
    width: 386px;
    min-height: 49px;
    display: flex;
    position: relative;
}

.in-catalog {
    color: rgb(0, 0, 0);
    background: none;
    min-height: 411px;
}

.subscribe-title-in-catalog {
    color: rgb(0, 0, 0);
}

.subscribe-description-in-catalog {
    color: rgb(0, 0, 0);
}

.navigation-item {
    margin: 0;
    margin-right: 34px;
    position: relative;
    margin-bottom: 14px;
}

.navigation-search {
    background-image: url("../images/search.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 18px;
    width: 18px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 24px;
}

.navigation-item-search {
    margin-right: 14px;
}

.navigation-favorite {
    background-image: url("../images/favorite.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 35px;
    width: 42px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 15px;
}

.navigation-item-favorite {
    margin-right: 19px;
}

.navigation-item-button {
    min-height: 20px;
    width: 130px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 4px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
}

.navigation-button-link {
    margin-right: 0;
}

.advantages-title-last-group {
    margin-top: 102px;
}
